body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #6d6c6c;
    background-image: url("https://i.pinimg.com/736x/17/50/c0/1750c0cc7f85416732763c2931557e40.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 30%;

}

/* HEADER */
header {
    width: 100%;
    text-align: center;
    background-color: rgb(40, 37, 37);
    padding: 10px 0;
}

.banner {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
}

/* MAIN CONTAINER */
.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 320px;
    margin: auto;
}

/* BUTTON */
button {
    width: 100%;
    padding: 10px;
    background-color: rgb(40, 37, 37);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(78, 72, 72);
}

/* FOOTER */
footer {
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: rgb(40, 37, 37);
    color: white;
    position:fixed;
    bottom: 0;


}

input{
    display: block;
    width: 90%;
    margin: 10px 0;
    padding: 10px;
}

.navbar {
    width: 100%;
    background-color: rgb(40, 37, 37);
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    display: inline;
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 12px 20px;
    display: inline-block;
    font-size: 16px;
}

.navbar ul li a:hover {
    background-color: rgb(78, 72, 72);
    border-radius: 5px;
}